<in-wrapper>
	<br><br>
	<div>
		<h3 class="underline-purple center">Bienvenue à toi, {{prenom}} !</h3>
		<p class="center"><i>Tu trouveras sur cette page de quoi t'aider pour prendre l'application en main.</i></p>
	</div>
	<div class="row">
		<div class="col-md-5 offset-md-1 col-sm-12 offset-sm-0 margin20">
			<div class="card card-no-border">
				<div class="card-header card-purple">
					<h5>Catégories</h5>
				</div>
				<div class="card-body purple-100-bg-color purple-900-color card-round">
					<p>
						Cette partie permet de faire des recherches d'items.<br><br>
						Tous les items de la MDE sont rangés par catégorie. 
						Il est alors possible d'afficher les items par catégorie ou de tous 
						les afficher. L'onglet offre une fonctionnalité de recherche permettant 
						de retrouver simplement un item. <br>
						Enfin un bouton permet d'entamer une démarche 
						de réservation. Si le bouton n'est pas disponible pour un item cela signifie
						qu'il est visible mais non réservable. Tu peux contacter l'association pour 
						plus d'informations.
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-5 col-sm-12 offset-sm-0 margin20">
			<div class="card card-no-border">
				<div class="card-header card-purple">
					<h5>Mon matériel</h5>
				</div>
				<div class="card-body purple-100-bg-color purple-900-color card-round">
					<p>
						Cet onglet permet de gérer le matériel des associations dont tu fais partie. 
						Si tu n'as pas un poste de responsable au sein de l'association tu n'auras 
						accès qu'à la fonctionnalité d'affichage des items.<br>
						Si tu es responsable tu pourras ajouter de nouveaux items, modifier un item 
						existant ou même le supprimer.<br>
						A noter qu'en cliquant sur les noms des colonnes tu peux trier les items. 
						Par défaut ils sont triés par ordre alphabétique.<br>
						Tu peux également accéder a l'onglet d'import/export depuis cet onglet.
					</p>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row" ng-if="$root.canBook()">
		<div class="col-md-5 offset-md-1 col-sm-12 offset-sm-0 margin20">
			<div class="card card-no-border">
				<div class="card-header card-purple">
					<h5>Réservations \ Réserver</h5>
				</div>
				<div class="card-body purple-100-bg-color purple-900-color card-round">
					<p>
						Cet onglet est uniquement accessible aux étudiants ayant un poste de responsable dans une association.<br>
						Il y a plusieurs étapes a réaliser pour faire une demande de réservation : 
						<ul>
							<li>
								Choisir l'association pour qui l'emprunt est effectué. Si tu as des responsabilités 
								dans une seule association cette étape sera passée.
							</li>
							<li>
								Choisir l'association à qui tu veux emprunter du matériel.
							</li>
							<li>
								Choisir une date de début et de fin. A noter que tu pourras modifier ces dates 
								pour chaque item emprunté par la suite.
							</li>
							<li>
								Choisir le ou les items a emprunter et leur quantité.
							</li>
							<li>
								Compléter la case expliquant ton besoin de matériel pour le justifier auprès de l'association.
							</li>
						</ul>
						Tu as également accès à un résumé de ta commande te 
						permettant de modifier les associations choisies, d'éditer les quantités d'items 
						demandées et les dates d'emprunt pour chaque item.<br>
						Une fois validée, la demande d'emprunt est envoyée a l'association qui pourra la refuser, 
						l'accepter ou modifier les quantités/dates. C'est seulement après cette validation que la demande 
						d'emprunt est validée et que tu recevras un mail pour t'avertir de la caution a fournir. 
						L'association propriétaire du matériel aura la responsabilité de rentrer le fait que la caution 
						a été reçue et que le matériel a bien été rendu. En cas de contretemps les deux associations 
						peuvent annuler l'emprunt sur l'interface.</p>
				</div>
			</div>
		</div>
		<div class="col-md-5 col-sm-12 offset-sm-0 margin20">
			<div class="card card-no-border">
				<div class="card-header card-purple">
					<h5>Réservations \ Mes réservations</h5>
				</div>
				<div class="card-body purple-100-bg-color purple-900-color card-round">
					<p>
						Cet onglet est uniquement accessible aux étudiants ayant un poste de responsable dans une association.<br>
						Il permet de consulter les réservations en cours, terminées et annulées des 6 derniers mois. 
						Il y a 2 types de réservations, celles concernant le matériel de ton association et celles 
						concernant le matériel que tu as demandé à d'autres associations. Cela correspond à 2 tableaux distincts.<br>
						Enfin un dernier tableau permet d'avoir un récapitulatif de tes items actuellement empruntés 
						ou devant l'être dans le futur. Cela peut permettre de déterminer si un item est disponible 
						quand une réservation t'est faite.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-if="$root.canBook()">
		<div class="col-md-5 offset-md-1 col-sm-12 offset-sm-0 margin20">
			<div class="card card-no-border">
				<div class="card-header card-purple">
					<h5>Export / Import</h5>
				</div>
				<div class="card-body purple-100-bg-color purple-900-color card-round">
					<p>
						Cet onglet permet de récupérer un fichier <i>xlxs</i> des items de ton association (export) ou 
						de renseigner a l'application via un fichier <i>xlxs</i> les items que ton association possède (import).<br>
						Toutes les règles sont expliquées dans l'onglet pour l'import, merci de <strong>bien les lire</strong> !!
					</p>
				</div>
			</div>
		</div>
	</div>
	<div style="position: absolute; right: 20px">
		<p>
			&#60;/&#62; avec &#10084; par Josselin Pennors
		</p>
	</div>
</in-wrapper>
