<in-wrapper>
	<br><br>
	<div>
		<h3 class="title">Bienvenue à toi !</h3>
		<p class="title"><i>Tu trouveras sur cette page de quoi t'aider pour prendre l'applicaiton en main.</i></p>
		<p class="title">Ps : C'est pas la version définitive, juste une aide personnalisée pour tester l'appli</p>
	</div>
	<div class="row">
		<div class="col-md-5 offset-md-1 col-sm-12">
			<div class="card card-no-border">
				<div class="card-header card-purple">
					<h5>Catégories</h5>
				</div>
				<div class="card-body">
					<p>Possibilité de rechercher les items par catégorie, ou tout simplement de les afficher tous</p>
				</div>
			</div>
		</div>
		<div class="col-md-5 col-sm-12">
			<div class="card card-no-border">
				<div class="card-header card-purple">
					<h5>Mon matériel</h5>
				</div>
				<div class="card-body">
					
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-5 offset-md-1 col-sm-12">
			<div class="card card-no-border">
				<div class="card-header card-purple">
					<h5>Réservations \ Réserver</h5>
				</div>
				<div class="card-body">
					
				</div>
			</div>
		</div>
		<div class="col-md-5 col-sm-12">
			<div class="card card-no-border">
				<div class="card-header card-purple">
					<h5>Réservations \ Mes réservations</h5>
				</div>
				<div class="card-body">
					
				</div>
			</div>
		</div>
	</div>
</in-wrapper>