<in-wrapper>
  <br><br>
  <div ng-if="loading" class="valign">
    <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
  </div>
  <div class = "row" ng-if="!loading">
    <div class="col-sm-10 offset-sm-1 margin20">
      <table class="table table-hover col-md-12">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-5">
                <h3>{{type}}</h3>
            </div>
            <div class="form-group col-md-5 offset-md-2">
              <input ng-model="itemSearch" type="text" class="form-control search-list" placeholder="Rechercher un item...">
            </div>
          </div>
        </div>
        <thead>
          <tr>
            <th ng-click="sortBy('name')">
              Nom 
              <span class="sort-item" ng-show="propertyName == 'name'" ng-class="{reverse: reverse}"><i class="fas fa-sort"></i></span>
            </th>
            <th ng-click="sortBy('quantity')">
              Quantité
              <span class="sort-item" ng-show="propertyName == 'quantity'" ng-class="{reverse: reverse}"><i class="fas fa-sort"></i></span>
            </th>
            <th ng-click="sortBy('association.shortname')">
              Propriétaire
              <span class="sort-item" ng-show="propertyName == 'association.shortname'" ng-class="{reverse: reverse}"><i class="fas fa-sort"></i></span>
            </th>
            <th ng-if="categorie_id == 0" ng-click="sortBy('typeName')">
              Catégorie
              <span class="sort-item" ng-show="propertyName == 'typeName'" ng-class="{reverse: reverse}"><i class="fas fa-sort"></i></span>
            </th>
            <th ng-if="$root.canBook()"class="center">
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in items | toArray:false | filter:itemSearch | orderBy:propertyName:reverse ">
              <td >{{ item.name }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.association.shortname }}</td>
              <td ng-show="categorie_id == 0"> 
                {{ item.type.name }}
              </td>
              <td ng-if="$root.canBook()" class="center">
                <button class="btn btn-grey" ng-click="bookItem(item)" ng-disabled="item.status == 2">
                    Réserver
                </button>
              </td>
          </tr>
        </tbody>
      </table>
      <p ng-if="!loading && items.length == 0" class="center">
        Pas de matériel dans cette catégorie pour le moment ...
      </p>
    </div>
  </div>
</in-wrapper>
