<in-wrapper>
  <br><br>
  <div class = "row">
    <div class="col-md-10 offset-md-1">
      <table class="table table-hover col-md-12">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-5">
                <h3>{{type}}</h3>
            </div>
            <div class="form-group col-md-3 offset-md-4">
              <input ng-model="itemSearch" type="text" class="form-control search-list" placeholder="Rechercher un item...">
            </div>
          </div>
        </div>
        <thead>
          <tr>
            <th ng-click="sortBy('name')">
              Nom 
              <span class="sort-item" ng-show="propertyName == 'name'" ng-class="{reverse: reverse}"><i class="fas fa-sort"></i></span>
            </th>
            <th ng-click="sortBy('quantity')">
              Quantité
              <span class="sort-item" ng-show="propertyName == 'quantity'" ng-class="{reverse: reverse}"><i class="fas fa-sort"></i></span>
            </th>
            <th ng-click="sortBy('associationName')">
              Propriétaire
              <span class="sort-item" ng-show="propertyName == 'associationName'" ng-class="{reverse: reverse}"><i class="fas fa-sort"></i></span>
            </th>
            <th ng-show="categorie_id == 0" ng-click="sortBy('typeName')">
              Catégorie
              <span class="sort-item" ng-show="propertyName == 'typeName'" ng-class="{reverse: reverse}"><i class="fas fa-sort"></i></span>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in items | toArray:false | filter:itemSearch | orderBy:propertyName:reverse ">
              <td >{{ item.name }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.associationName }}</td>
              <td ng-show="categorie_id == 0"> 
                {{ item.typeName }}
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</in-wrapper>
