<in-wrapper>
    <br><br>
    
    <!-- TITRE -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="title">Demande de réservation</h2>
        </div>
    </div>
    <hr>

    <!-- CONTENU -->
    <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-5 offset-lg-1 margin20" ng-hide="booking.assoRequesting">
            <div class="card card-no-border">
                <div class="card-header card-purple">
                    <h4>Étape 1</h4>
                    <i>Pour quelle association veux-tu emprunter du matériel?</i>
                </div>
                <div class="card-body">
                    <div class="form-group">
                            <input  ng-model="assoSearch" type="text" class="form-control" placeholder="Rechercher une association" ng-value="search">
                    </div>
                    <div class="list-group">
                        <a ng-repeat="asso in assosBooking | toArray:false | filter:assoSearch | orderBy : '+shortname'" ng-click="assoRequesting(asso.id)" class="list-group-item list-group-item-action" >
                            {{ asso.shortname }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 offset-md-1 col-lg-5 offset-lg-1 margin20" ng-show="booking.assoRequesting && !booking.assoRequested">
            <div class="card card-no-border">
                <div class="card-header card-purple">
                    <h4>Étape 2</h4>
                    <i>A quelle association veux-tu emprunter du matériel?</i>
                </div>
                <div class="card-body">
                    <div class="form-group">
                            <input  ng-model="assoSearch" type="text" class="form-control" placeholder="Rechercher une association">
                    </div>
                    <div class="list-group" style="height:300px; overflow-y: scroll;">
                        <a 
                            ng-repeat="assoRequested in assosRequested | toArray:false | filter : assoSearch | orderBy : '+shortname'" 
                            ng-click="associationRequested(assoRequested.id)" 
                            class="list-group-item list-group-item-action"
                            ng-if="assoRequested.id != booking.assoRequesting.id"
                        >
                            {{ assoRequested.shortname }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 offset-md-1 col-lg-5 offset-lg-1 margin20" ng-show="booking.assoRequesting && booking.assoRequested && !booking.date">
            <div class="card card-no-border">
                <div class="card-header card-purple">
                    <h4>Étape 3</h4>
                    <i>A quelle date? (Tu pourras les ajuster pour chaque item ensuite)</i>
                </div>
                <div class="card-body">
                    <form novalidate name="form">
                        <br>
                        <div class="row">
                            <label class="form-label col-md-4">Date d'emprunt</label>
                            <input class="form-control col-md-6" type="date" name="startDate" min="{{currentDate | date:'yyyy-MM-dd'}}" ng-model="booking.startDate" required>
                        </div>
                        <br>
                        <div class="row">
                            <label class="form-label col-md-4">Date de retour</label>
                            <input class="form-control col-md-6" type="date" name="endDate" min="{{booking.startDate | date:'yyyy-MM-dd'}}" ng-model="booking.endDate" ng-disabled="!booking.startDate" required="">
                        </div>
                        <br>
                        <div class="row" style="text-align: center">
                            <button class="btn btn-grey" ng-click="dateSave()" ng-disabled="!form.startDate.$valid || !form.endDate.$valid">Confirmer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="col-md-10 offset-md-1 col-lg-5 offset-lg-1 margin20" ng-show="booking.assoRequesting && booking.assoRequested && booking.date">
            <div class="card card-no-border">
                <div class="card-header card-purple">
                    <h4>Étape 4</h4>
                    <i>Que veux-tu emprunter?</i>
                </div>
                <div class="card-body">
                    <!-- Item -->
                    <div class="form-group">
                        <input ng-show="items" ng-model="itemSearch" type="text" class="form-control" placeholder="Rechercher un item">
                    </div>
                    <div class="list-group" style="height:300px; overflow-y: scroll;">
                        <a ng-repeat="item in items | toArray:false | filter:itemSearch" ng-click="item.quantity>0 && addItem(item)" class="list-group-item list-group-item-action title">
                                <p class="title">
                                    {{ item.name }}
                                    <br>
                                    <span class="badge badge-pill badge-secondary">{{ item.quantity}}</span>
                                </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
                
        <!-- RESUME DE LA RESERVATION -->
        <div class="col-md-10 offset-md-1 col-lg-5 offset-lg-0 margin20">
            <div class="card card-no-border">
                <div class="card-header card-purple">
                    <h4 class="title">Résumé de la réservation</h4>
                </div>

                <div class="card-body">

                    <!-- USER -->
                        <div class="card">
                            <div class="card-header">
                                <h5 class="title">{{user.name}}</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">

                                    <!-- ASSO REQUESTING -->
                                    <div class="col-md-6 card">
                                        <h4 class="title">Emprunteur</h4>
                                        <br>
                                        <div ng-hide="booking.assoRequesting">
                                            <i>Vous n'avez pas choisi pour quelle association vous voulez emprunter du matériel.</i>
                                        </div>
                                        <div ng-show="booking.assoRequesting" style="text-align: center;">
                                            <img ng-src={{booking.assoRequesting.image}} height="80px" style="border-radius: 5px; margin-bottom: 10px;">
                                            <h6>{{ booking.assoRequesting.shortname }}</h6>
                                            <button type="button" class="btn btn-grey" ng-click="changeAssoRequesting()" ng-if="assosBooking.length != 1">Modifier</button>
                                            <br>
                                        </div>
                                    </div>
                                    <!-- ASSO REQUESTED -->
                                    <div class="col-md-6 card">
                                        <h4 class="title">Propriétaire</h4>
                                        <br>
                                        <div ng-hide="booking.assoRequested">
                                            <i>Vous n'avez pas choisi l'association à qui vous demandez du matériel.</i>
                                        </div>
                                        <div ng-show="booking.assoRequested" style="text-align: center;">  
                                            <img ng-src={{booking.assoRequested.image}} height="80px" style="border-radius: 5px; margin-bottom: 10px;">
                                            <h6>{{ booking.assoRequested.shortname }}</h6>
                                            <!-- <p>
                                                {{ booking.assoRequested.name }}
                                                <br>
                                                {{ booking.assoRequested.email }}
                                            </p> -->
                                            <button type="button" class="btn btn-grey" ng-click="changeAssoRequested()">Modifier</button>
                                            <br>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    <hr>                    

                    <!-- ITEMS -->
                    
                    <hr>
                    <div class="card" >
                        <div class="card-header">
                            <h5 class="title">Items</h5>
                        </div>
                        <div ng-hide="bookingline.items.length > 0">
                            <p class="title"><i>Vous n'avez encore rien choisi pour la commande.</i></p>
                        </div>
                        <div class="card-body" ng-show="bookingline.items.length > 0">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Quantité</th>
                                        <th>De</th>
                                        <th>A</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="item in bookingline.items">
                                    <tr>
                                        <td>{{ item.name }}</td>
                                        <td>
                                            {{ item.quantity }}
                                            <a ng-click="addItemByIndex($index)">
                                                <!--<img src="assets/img/add.png" width="12px">-->
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a ng-click="removeProductByIndex($index)">
                                                <i class="fas fa-minus"></i>
                                                <!--<img src="assets/img/minus.png" width="12px"></a>-->
                                        </td>
                                        <td>
                                            <div ng-if="!item.editStartDate && item.startDateAngular">
                                                {{ item.startDateAngular | date : "dd/MM/yyyy" }}
                                                <a ng-click=editStartDate(item)><i class="fa fa-edit i-right" aria-hidden="true"></i></a>
                                            </div>
                                            <div ng-if="item.editStartDate">
                                                <input class="form-control" type="date" ng-model="item.startDate">
                                            </div>
                                        </td>
                                        <td>
                                            <div ng-if="!item.editEndDate && item.endDateAngular">
                                                {{ item.endDateAngular | date : "dd/MM/yyyy" }}
                                                <a ng-click=editEndDate(item)><i class="fa fa-edit i-right" aria-hidden="true"></i></a>
                                            </div>
                                            <div ng-if="item.editEndDate">
                                                <input class="form-control" type="date" ng-model="item.endDate">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    <div class="card">
                        <div class="card-header">
                            <h5 class="title">Commentaire</h5>
                            <p class="title"><i>Pour que l'association comprenne tes besoins !</i></p>
                        </div>
                        <div class="card-body">
                            <form novalidate name="formComment">
                                <textarea class="form-control" name="inputComment" rows="3" ng-model="comment" required ng-class="{error : !formComment.inputComment.$valid && formComment.inputComment.$dirty}"></textarea>
                            </form>
                        </div>
                    </div>
                    <hr>
                    <div style="text-align: center">
                        <button ng-click="save()"
                                type="button" class="btn btn-grey"
                                ng-disabled="!booking.assoRequesting || !booking.assoRequested || !booking.date || !(bookingline.items.length > 0) || !formComment.inputComment.$valid">
                            Valider
                        </button>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>

    <!-- /.row -->
</in-wrapper>