<in-wrapper>
    <br><br>
    
    <!-- TITRE -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Réservation</h1>
        </div>
    </div>

    <!-- CONTENU -->
    <div class="row">
        <div class="col-sm-12 col-md-5 offset-md-1" ng-hide="booking.assoRequesting">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Étape 1</h3>
                    <p>Quelle association désire emprunter?</p>
                </div>
                <div class="form-group">
                        <input  ng-model="assoSearch" type="text" class="form-control" placeholder="Rechercher une association">
                    </div>
                <div class="list-group">
                        <button ng-repeat="asso in assos | filter:assoSearch" type="button" class="list-group-item">
                            <h5 ng-click="assoRequesting(asso.id)">{{ asso.name }}</h5>
                            <span class="badge badge-pill"></span>
                        </button>
                    </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 offset-md-1" ng-show="booking.assoRequesting && !booking.assoRequested">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Étape 2</h3>
                    <p>A quelle association le matériel à emprunter appartient-il?</p>
                </div>
                <!--<div class="form-group">
                        <input ng-model="assoRequestedSearch" type="text" class="form-control" placeholder="Rechercher une association">
                </div>-->
                <div class="list-group">
                        <!--<button ng-repeat="assoRequested in assosRequested | filter:assoRequestedSearch" type="button" class="list-group-item">-->
                        <button ng-repeat="assoRequested in assosRequested" type="button" class="list-group-item">
                            <h5 ng-click="associationRequested(assoRequested.id)">{{ assoRequested.name }}</h5>
                            <span class="badge badge-pill"></span>
                        </button>
                    </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 offset-md-1" ng-show="booking.assoRequesting && booking.assoRequested && !booking.date">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Étape 3</h3>
                    <p>Quelles sont les dates d'emprunt?</p>
                    <p><i>(Vous pourrez changer les dates pour chaque item)</i></p>
                </div>
                 <div class="row">
                    <label class="control-label col-md-4">Date d'emprunt</label>
                    <input class="form-group col-md-4" type="date" ng-model="booking.startDate">
                </div>
                <div class="row">
                    <label class="control-label col-md-4">Date de retour</label>
                    <input class="form-group col-md-4" type="date" ng-model="booking.endDate">
                </div>
                <div class="row">
                    <button class="btn" ng-click="dateSave()">Confirmer</button>
                </div>
            </div>
        </div>
        
        <div class="col-sm-12 col-md-5 offset-md-1" ng-show="booking.assoRequesting && booking.assoRequested && booking.date">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Étape 4</h3>
                    <p>Que veux-tu emprunter?</p>
                    <i>Sélectionner un ou plusieurs items.</i>
                </div>
                <div class="panel-body">

                    <!-- Item -->
                    <div class="form-group">
                        <input ng-show="items" ng-model="itemSearch" type="text" class="form-control" placeholder="Rechercher un item">
                    </div>
                    <div class="list-group">
                        <button ng-repeat="item in items | filter:itemSearch" 
                                type="button" 
                                class="list-group-item"
                                ng-click="item.quantity>0 && addItem(item)"
                                ng-click="item.quantity<=0">
                            <h5>{{ item.name }}</h5>
                            <span class="badge badge-pill">{{ item.quantity}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
                
        <!-- RESUME DE LA RESERVATION -->
        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Résumé de la réservation</h3>
                </div>

                <div class="panel-body row">

                    <!-- USER -->
                    <div class=" col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p>Commandes effectuées par :</p>
                            </div>
                        </div>
                    </div>

                    <!-- ASSO REQUESTING -->
                    <div class="col-lg-6 col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p ng-hide="booking.assoRequesting"><i>Vous n'avez pas choisi pour quelle association vous voulez emprunter du matériel.</i></p>
                                <div ng-show="booking.assoRequesting">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4>{{ booking.assoRequesting.name }}</h4>
                                        </div>
                                        <div class="panel-body">
                                            <p>{{ booking.assoRequesting.mail }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="booking.assoRequesting" class="panel-footer">
                                <button type="button" class="btn btn-yellow" ng-click="changeAssoRequesting()">Modifier l'association</button>
                            </div>
                        </div>
                    </div>

                    <!-- ASSO REQUESTED -->
                    <div class="col-lg-6 col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p ng-hide="booking.assoRequested"><i>Vous n'avez pas choisi l'association à qui vous demandez du matériel.</i></p>
                                <div ng-show="booking.assoRequested">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4>{{ booking.assoRequested.name }}</h4>
                                        </div>
                                        <div class="panel-body">
                                            <p>{{ booking.assoRequested.mail }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="booking.assoRequested" class="panel-footer">
                                <button type="button" class="btn btn-yellow" ng-click="changeAssoRequested()">Modifier l'association</button>
                            </div>
                        </div>
                    </div>

                    <!-- ITEMS -->
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p ng-hide="booking.items.length > 0"><i>Vous n'avez encore rien choisi pour la commande.</i></p>

                                <div ng-show="booking.items.length > 0">

                                <!--Items-->
                                    <h4>Items</h4>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Nom</th>
                                                <th>Quantité</th>
                                                <th>De</th>
                                                <th>A</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="item in booking.items">
                                            <tr>
                                                <td>{{ item.name }}</td>
                                                <td>
                                                    {{ item.quantity }}
                                                    <a href ng-click="addItemByIndex($index)"><img src="assets/img/add.png" width="12px"></a>
                                                    <a href ng-click="removeProductByIndex($index)"><img src="assets/img/minus.png" width="12px"></a>
                                                </td>
                                                <td>
                                                    <div ng-show="!item.editStartDate">
                                                        {{ item.startDate | date : "dd/MM/yyyy" }}
                                                        <a><img src="assets/img/edit.png" height="14px" ng-click=editStartDate(item)></a>
                                                    </div>
                                                    <div ng-show="item.editStartDate">
                                                        <input type="date" ng-model="item.startDate">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div ng-show="!item.editEndDate">
                                                        {{ item.endDate | date : "dd/MM/yyyy" }}
                                                        <a><img src="assets/img/edit.png" height="14px" ng-click=editEndDate(item)></a>
                                                    </div>
                                                    <div ng-show="item.editEndDate">
                                                        <input type="date" ng-model="item.endDate">
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                            <div class="panel-footer">
                                <button ng-click="save()"
                                        type="button" class="btn btn-yellow">
                                    Valider
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /.row -->
</in-wrapper>