<in-wrapper>
  <br><br>
  <!-- <div ng-if="loading" class="valign">
    <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
  </div> -->
  <div class = "row">
    <div class="col-sm-10 offset-sm-1 margin20">
      <table class="table table-hover col-md-12">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-4">
                <h3>{{asso}} | Inventaire</h3>
            </div>
            <div class="form-group col-md-3 offset-md-2">
              <input ng-model="itemSearch" type="text" class="form-control search-list" placeholder="Rechercher un item...">
            </div>
            <div class="col-md-2 offset-md-1" ng-if="$root.isAdminAsso(asso_login)">
              <h2 class="purple-text">
                <a ng-click="redirectToDate()" class="pointer">
                  <i class="fas fa-download i-right i-left"></i>
                </a>
                <a ng-click="add()" class="pointer">
                  <i class="fas fa-plus i-left"></i>
                </a>
              </h2>
            </div>
          </div>
        </div>
        <div class="row" ng-if="addConfirmation && !updateConfirmation && !deleteConfirmation">
          <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 alert alert-success" role="alert">
            L'item a bien été ajouté.
          </div>
        </div>
        <div class="row" ng-if="updateConfirmation && !addConfirmation && !deleteConfirmation">
          <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 alert alert-warning" role="alert">
            L'item a bien été mis à jour.
          </div>
        </div>
        <div class="row" ng-if="error">
          <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1 alert alert-danger" role="alert">
            Une erreur est survenue.<br>
            <ul>
              <li ng-repeat="(input, errors) in inputErrors">
                <span>{{ input }} : <span ng-repeat="error in errors">{{ error }} </span></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="row" ng-if="deleteConfirmation && !addConfirmation && !updateConfirmation">
          <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 alert alert-danger" role="alert">
            L'item a bien été supprimé.
          </div>
        </div>
        <thead>
          <tr>
              <th ng-click="sortBy('name')">
                Nom  
                <span class="sort-item" ng-if="propertyName == 'name'" ng-class="{reverse: reverse}"><i class="fas fa-sort"></i></span>
              </th>
              <th ng-click="sortBy('categorieName')">
                Catégorie  
                <span class="sort-item" ng-if="propertyName == 'categorieName'" ng-class="{reverse: reverse}"><i class="fas fa-sort"></i></span>
              </th>
              <th ng-click="sortBy('quantity')">
                Quantité  
                <span class="sort-item" ng-if="propertyName == 'quantity'" ng-class="{reverse: reverse}"><i class="fas fa-sort"></i></span>
              </th>
              <th ng-click="sortBy('caution')">
                Caution (à l'unité)
                <span class="sort-item" ng-if="propertyName == 'caution'" ng-class="{reverse: reverse}"><i class="fas fa-sort"></i></span>
              </th>
              <th ng-click="sortBy('placeName')">
                Localisation  
                <span class="sort-item" ng-if="propertyName == 'placeName'" ng-class="{reverse: reverse}"><i class="fas fa-sort"></i></span>
              </th>
              <th ng-click="sortBy('statusName')">
                Statut  
                <span class="sort-item" ng-if="propertyName == 'statusName'" ng-class="{reverse: reverse}"><i class="fas fa-sort"></i></span>
              </th>
              <th ng-if="$root.isAdminAsso(asso_login)">Actions</th>
          </tr>
        </thead>
        <tbody ng-if="!loading">          
          <div>
            <tr ng-if="addNewItem">
                <td>
                  <form>
                    <input type="text" ng-model="newItem.name" class="form-control" focus-me="focusInput" required>
                  </form>
                </td>
                <td>
                  <form>
                    <select class="form-control" ng-options="type.name for type in types track by type.id" ng-model="newItem.type"></select>
                  </form>
                </td>
                <td>
                  <form>
                    <input type="number" min="0" ng-model="newItem.quantity" class="form-control" required>
                  </form>
                </td>
                <td>
                  <form>
                    <input type="number" min="0" ng-model="newItem.caution" class="form-control" required>
                  </form>
                </td>
                <td>
                  <form>
                    <select class="form-control" ng-options="place.name for place in places track by place.id" ng-model="newItem.place"></select>
                  </form>
                </td>
                <td>
                  <form>
                    <select class="form-control" ng-model="newItem.status" required>
                        <option value="1">Visible</option>
                        <option value="2">Visible et non empruntable</option>
                        <option value="3">Invisible</option>
                    </select>
                  </form>
                </td>
                <td>
                  <p class="purple-text">
                    <a ng-if="!checkItem(newItem) && !newitem_loading">
                        <i class="fas fa-check i-right invalid" aria-hidden="true"></i>
                    </a>
                    <a ng-click="save()" ng-if="checkItem(newItem) && !newitem_loading" class="pointer">
                        <i class="fas fa-check i-right" aria-hidden="true"></i>
                    </a>
                    <a ng-click="cancel()" ng-if="!newitem_loading" class="pointer">
                      <i  class="fas fa-times i-left" aria-hidden="true"></i>
                    </a>
                    <a ng-if="newitem_loading" class="valign">
                      <p><i class="fa fa-spinner fa-pulse fa-fw"></i></p>
                    </a>
                  </p>
                </td>
            </tr>
            <tr ng-repeat="item in items | toArray:false | filter:itemSearch | orderBy:propertyName:reverse">
              <td>
                <span ng-if="!item.edit">{{ item.name }}</span>
                <input type="text" ng-model="item.name" ng-if="item.edit" class="form-control">
              </td>
              <td>
                <span ng-if="!item.edit">{{ item.type.name }}</span>
                <select ng-if="item.edit" class="form-control" ng-options="type.name for type in types track by type.id" ng-model="item.type"></select>
              </td>
              <td>
                <span ng-if="!item.edit">{{ item.quantity }}</span>
                <input type="text" ng-model="item.quantity" min=0 ng-if="item.edit" class="form-control">
              </td>
              <td>
                <span ng-if="!item.edit">{{ item.caution }}</span>
                <input type="text" ng-model="item.caution" min=0 ng-if="item.edit" class="form-control">
              </td>
              <td>
                <span ng-if="!item.edit">{{ item.place.name }}</span>
                <select ng-if="item.edit" class="form-control" ng-options="place.name for place in places track by place.id" ng-model="item.place"></select>
              </td>
              <td>
                <span ng-if="!item.edit">{{ item.statusName }}</span>
                <select class="form-control" ng-model="item.status" ng-if="item.edit">
                    <option value="1">Visible</option>
                    <option value="2">Visible et non empruntable</option>
                    <option value="3">Invisible</option>
                </select>
              </td>
              <td ng-if="$root.isAdminAsso(asso_login)">
                <p ng-if="!item.edit && !item.loading" class="purple-text">
                  
                  <a ng-click="edit(item)" class="pointer">
                    <i class="fa fa-edit i-right" aria-hidden="true"></i>
                  </a>
                  <a ng-click="delete(item)" class="pointer">
                    <i class="fas fa-trash-alt i-left" aria-hidden="true"></i>
                  </a>
                </p>
                <p ng-if="item.edit" class="purple-text">
                  <a ng-if="!checkItem(item) && !item.loading">
                    <i class="fas fa-check i-right invalid" aria-hidden="true"></i>
                  </a>
                  <a ng-click="update(item)" ng-if="checkItem(item) && !item.loading" class="pointer">
                    <i class="fas fa-check i-right" aria-hidden="true"></i>
                  </a>
                  <a ng-click="cancelItem(item)" ng-if="!item.loading" class="pointer">
                    <i class="fas fa-times i-left" aria-hidden="true"></i>
                  </a>
                  <a ng-if="item.loading" class="valign">
                    <p><i class="fa fa-spinner fa-pulse fa-fw"></i></p>
                  </a>
                </p>
              </td>
            </tr>
          </div>
        </tbody>
      </table>
      <p class="center" ng-if="!loading && items.length == 0">
        Pas de matériel enregistré pour cette association ...
      </p>
      <div ng-if="loading" class="valign">
        <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
      </div>
    </div>
  </div>
        
  <!-- MODAL -->

  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" ng-hide="import">
        <div class="modal-header">
          <h1 class="modal-title">Importer un fichier</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3 class="title">Instructions</h3>
          <br>
          <p>Pour que l'import se passe dans les meilleures conditions un certain nombre de règles doivt être respecté.</p>
          <h5>Règle générale</h5>
          <p>Le fichier doit être au format CSV</p>
          <h5>Colonnes</h5>
          <p>Le fichier ne doit pas contenir le nom des colonnes. Dans l'ordre il faut remplir les champs suivants : <br><span class="font-weight-light">Nom / Catégorie / Quantité / Caution (à l'unité) / Localisation / Statut</span></p>
          <h5>Catégorie</h5>
          <p>Le champ Catégorie doit être rempli par un des termes suivants (à la majuscule près !) :<br><span ng-repeat="type in types" class="font-weight-light">{{type.name}}  / </span><br>
          Si tu as fait de mnière différente, Ctrl+H est ton ami ;)</p>
          <h5>Localisation</h5>
          <p>Le champ Localisation doit être rempli par un des termes suivants (à la majuscule près !) :<br><span ng-repeat="place in places" class="font-weight-light">{{place.name}}  / </span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-grey" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-grey" ng-click="readImport()">J'ai lu !</button>
        </div>
      </div>
      <div class="modal-content" ng-if="import">
        <div class="modal-header">
          <h1 class="modal-title">Importer un fichier</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label>Télécharger votre fichier.</label>
          <input class="col-md-6" type="file" class="form-control-file" files-model="file" ng-model="file">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-grey" data-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-grey" ng-click="csvParse()">Importer</button>
        </div>
      </div>
    </div>
  </div>
</in-wrapper>