<in-wrapper>
  <br><br>
  <div class = "row">
    <div class="col-md-10 offset-md-1">
      <table class="table table-hover col-md-12">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-5">
                <h3>{{asso}} | Inventaire</h3>
            </div>
            <div class="form-group col-md-3 offset-md-2">
              <input ng-model="itemSearch" type="text" class="form-control search-list" placeholder="Rechercher un item...">
            </div>
            <div class="col-md-1 offset-md-1">
              <h2 class="purple-text">
                <a ng-click="add()">
                  <i class="fas fa-plus"></i>
                </a>
              </h2>
            </div>
          </div>
        </div>
        <div class="row" ng-if="addConfirmation && !updateConfirmation && !deleteConfirmation">
          <div class="col-md-6 offset-md-3 alert alert-success" role="alert">
            L'item a bien été ajouté.
          </div>
        </div>
        <div class="row" ng-if="updateConfirmation && !addConfirmation && !deleteConfirmation">
          <div class="col-md-6 offset-md-3 alert alert-warning" role="alert">
            L'item a bien été mis à jour.
          </div>
        </div>
        <div class="row" ng-if="deleteConfirmation && !addConfirmation && !updateConfirmation">
          <div class="col-md-6 offset-md-3 alert alert-danger" role="alert">
            L'item a bien été supprimé.
          </div>
        </div>
        <thead>
          <tr>
              <th ng-click="sortBy('name')">
                Nom  
                <span class="sortorder" ng-show="propertyName == 'name'" ng-class="{reverse: reverse}"></span>
              </th>
              <th ng-click="sortBy('categorieName')">
                Catégorie  
                <span class="sortorder" ng-show="propertyName == 'categorieName'" ng-class="{reverse: reverse}"></span>
              </th>
              <th ng-click="sortBy('quantity')">
                Quantité  
                <span class="sortorder" ng-show="propertyName == 'quantity'" ng-class="{reverse: reverse}"></span>
              </th>
              <th ng-click="sortBy('caution')">
                Caution  
                <span class="sortorder" ng-show="propertyName == 'caution'" ng-class="{reverse: reverse}"></span>
              </th>
              <th ng-click="sortBy('placeName')">
                Localisation  
                <span class="sortorder" ng-show="propertyName == 'placeName'" ng-class="{reverse: reverse}"></span>
              </th>
              <th ng-click="sortBy('statusName')">
                Statut  
                <span class="sortorder" ng-show="propertyName == 'statusName'" ng-class="{reverse: reverse}"></span>
              </th>
              <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-show="addNewItem">
            <td><input type="text" ng-model="newItem.name" class="form-control" focus-me="focusInput"></td>
            <td>
              <select class="form-control" ng-model="newItem.type">
                <option ng-repeat="type in types" value="{{type.id}}">
                  {{type.name}}
                </option>
              </select>
            </td>
            <td><input type="text" ng-model="newItem.quantity" class="form-control"></td>
            <td><input type="text" ng-model="newItem.caution" class="form-control"></td>
            <td>
              <select class="form-control" ng-model="newItem.place">
                <option ng-repeat="place in places" value="{{place.id}}">
                  {{place.name}}
                </option>
              </select>
            </td>
            <td>
              <select class="form-control" ng-model="newItem.status">
                  <option value="1">Visible</option>
                  <option value="2">Visible et non empruntable</option>
                  <option value="3">Invisible</option>
              </select>
            </td>
            <td>
              <p class="purple-text">
                <a ng-click="save()">
                  <i class="fas fa-check i-right" aria-hidden="true"></i>
                </a>
                <a ng-click="cancel()">
                  <i  class="fas fa-times i-left" aria-hidden="true"></i>
                </a>
              </p>
            </td>
          </tr>
          <tr ng-repeat="item in items | toArray:false | filter:itemSearch | orderBy:propertyName:reverse">
            <td>
              <span ng-show="!item.edit">{{ item.name }}</span>
              <input type="text" ng-model="item.name" ng-show="item.edit" class="form-control">
            </td>
            <td>
              <span ng-show="!item.edit">{{ item.typeName }}</span>
              <select ng-show="item.edit" class="form-control" ng-options="type.name for type in types track by type.id" ng-model="item.typeSection"></select>
            </td>
            <td>
              <span ng-show="!item.edit">{{ item.quantity }}</span>
              <input type="text" ng-model="item.quantity" ng-show="item.edit" class="form-control">
            </td>
            <td>
              <span ng-show="!item.edit">{{ item.caution }}</span>
              <input type="text" ng-model="item.caution" ng-show="item.edit" class="form-control">
            </td>
            <td>
              <span ng-show="!item.edit">{{ item.placeName }}</span>
              <select ng-show="item.edit" class="form-control" ng-options="place.name for place in places track by place.id" ng-model="item.placeSection"></select>
            </td>
            <td>
              <span ng-show="!item.edit">{{ item.statusName }}</span>
              <select class="form-control" ng-model="item.status" ng-show="item.edit">
                  <option value="1">Visible</option>
                  <option value="2">Visible et non empruntable</option>
                  <option value="3">Invisible</option>
              </select>
            </td>
            <td>
              <p ng-show="!item.edit" class="purple-text">
                <a ng-click="edit(item)">
                  <i class="fa fa-edit i-right" aria-hidden="true"></i>
                </a>
                <a ng-click="delete(item)">
                  <i class="fas fa-trash-alt i-left" aria-hidden="true"></i>
                </a>
              </p>
              <p ng-show="item.edit" class="purple-text">
                <a ng-click="update(item)">
                  <i class="fas fa-check i-right" aria-hidden="true"></i>
                </a>
                <a ng-click="cancel()">
                  <i class="fas fa-times i-left" aria-hidden="true"></i>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</in-wrapper>