.title{
	text-align: center;
}

/* TRI */
.sortorder:after {
  content: '\0025B3';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\0025BD';   // BLACK DOWN-POINTING TRIANGLE
}

/*  VIOLET  */

.purple-text{
	color: #414361;
}

/* CARD */

.card-no-border{
	border-width: 0px !important;
}
.card-purple{
	background-color: #414361 !important;
	border-width: 0px;
	color: white;
}

/* Boutton */

.btn-grey{
	background-color: #bdbdbd;
	margin-top: 8px;
	margin-bottom: 8px;
}

.btn-grey:hover{
	background-color: #414361;
	color: white;
	margin-top: 8px;
}

/* Pour icône Fontawesome */

.i-right{
	margin-right : 4px
}

.i-left{
	margin-left : 4px
}

/*	TABLEAU	*/

.table thead th{
	border-width: 0px;
}

thead{
	background-color: #414361;
	color: white;
}

tbody{
	background-color: #F7F9FA;
}
