body, p, h3{
	color: #212934;
}


table{
	border: 3px solid #6272B6;
}

.underline-purple{
	text-decoration: underline #6272B6;
}

.margin20{margin: 20px;}
.left10{margin-left: 10px;}
.margin_auto{margin: auto}
.font_size_1rem{font-size: 1rem;}
.center{text-align: center;}

.no_decoration{
	text-decoration: none;
	text-decoration-color: none;
	color:none;
}

.card-round{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 3px solid #6272B6;
	border-top: none;
}

.purple-500-bg-color{background-color: #6272B6;}
.purple-100-bg-color{background-color: #F1F4FA;}
.purple-900-color{color: #282F6C;}
.grey-900-color{color: #212934;}
.grey-700-color{color: #6E7A8A;}
.grey-500-color{color: #AEBECD;}

.pointer{cursor: pointer;}

.underline{text-decoration: underline}

.textleft{text-align: left !important};


/* TRI */
.sortorder:after {
  content: '\0025B3';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\0025BD';   // BLACK DOWN-POINTING TRIANGLE
}

.sort-item {
	margin-left: 6px;
}

/* INVALID */

.invalid{
	color: #bdbdbd
}

/*  VIOLET  */

.purple-text{
	color: #6272B6;
}

/* CARD */

.card-no-border{
	border-width: 0px !important;
}
.card-purple{
	background-color: #6272B6 !important;
	border-width: 0px;
	color: white;
	border-bottom: none;
}

/* Boutton */

.btn-grey{
	background-color: #6272B6;
	color: white;
	margin: 8px;
}

.btn-grey:hover{
	background-color: #282F6C;
	color: white;
}

/* Pour icône Fontawesome */

.i-right{
	margin-right : 4px
}

.i-left{
	margin-left : 4px
}

/*	TABLEAU	*/

.table thead th{
	border-width: 0px;
}

thead{
	background-color: #6272B6;
	color: white;
}

tbody{
	background-color: #F1F4FA;
}

/* VALIDATION */

.error{
	border: 3px solid #e57373 !important;
}

/* MODAL */
.modal-header{
	background-color:#6272B6 !important;
	border-color: #6272B6 !important;
	color: white
}

/* Alignement pour OutWrapper*/

.valign {
  margin:auto;
  text-align: center;
  margin-top: 100px;
  color : #6272B6;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}