<div id="wrapper" ng-controller="inWrapperCtrl">
  <div class="header">
    <nav   class="navbar navbar-expand-lg navbar-light navbar-fixed-top" style="background-color: #F7F9FA">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <!-- Début fonction image -->
          <a class="navbar-brand" href="https://assos.utc.fr">
            <img src="assets/img/bde.png" height="45" class="d-inline-block align-top" alt="">
          </a>
          <!-- fin fonction image -->

          <!-- Début fonction accueil -->
          <li class="nav-item">
                 <a class="nav-link" href="#">Accueil<span class="sr-only">(current)</span></a>
          </li>
          <!-- fin fonction acceuil -->

          <!-- boutons deroulants -->

          <!-- bouton deroulant 1 -->
          <div class="dropdown">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Catégories
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <div ng-repeat="type in types">
                      <a class="dropdown-item" href="#!/categories/{{type.id}}">{{type.name}}</a>
                  </div>
                </div>
            </li>
          </div>

          <!-- bouton deroulant 2 -->
          <div class="dropdown">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mon matériel
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <div ng-repeat="asso in assos">
                    <a class="dropdown-item" href="#!/items/{{asso.id}}">{{asso.name}}</a>
                  </div>
              </div>
            </li>
          </div>

          <!-- bouton deroulant 3 -->
          <div class="dropdown">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mes reservations
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#!/booking">Réserver</a>
                  <a class="dropdown-item" href="#!/mybookings">Mes réservations</a>
              </div>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              </div>
            </li>
          </div>

          <!-- bouton deroulant 4 -->
          <div class="dropdown">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Gestion administrative
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#!/gestion/categories">Catégories</a>
                <a class="dropdown-item" href="#!/gestion/places">Localisations</a>
                <a class="dropdown-item" href="#">Matériels</a>
                <a class="dropdown-item" href="#!/gestion/bookings">Réservations</a>
              </div>
            </li>
          </div>
        <!-- fin boutons déroulants -->
        </ul>
      </div>
    </nav>
  </div>

  <div id="page-wrapper" ng-transclude>
  </div>
    <!-- /#page-wrapper -->
  
</div>
