<div id="wrapper" ng-controller="inWrapperCtrl">
  <div class="header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="https://assos.utc.fr">
            <img src="assets/img/bde.png" height="40px" class="d-inline-block align-top" alt="logo BDE" style="margin-right: 20px">
          </a>
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

              <li class="nav-item">
                <a class="nav-link" href="#">Accueil<span class="sr-only">(current)</span></a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle pointer" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Catégories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item pointer" ng-repeat="type in types" href="#!/categories/{{type.id}}">{{type.name}}</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item pointer" href="#!/categories/0">Toutes</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle pointer" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mon matériel
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a 
                    class="dropdown-item" 
                    ng-repeat="asso in userassos" 
                    href="#!/items/{{asso.id}}" 
                    ng-if="$root.isMemberAsso(asso.login)"
                  >
                   {{asso.shortname}}
                  </a>
                  <a 
                    class="dropdown-item pointer" 
                    href="#!/data" 
                    ng-if="$root.canBook()"
                  >
                    Export / Import
                  </a>
                </div>
              </li>

              <li class="nav-item dropdown" ng-if="$root.canBook()">
                <a class="nav-link dropdown-toggle pointer" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Réservations
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item pointer" href="#!/booking">Réserver</a>
                  <a class="dropdown-item pointer" href="#!/mybookings">Mes réservations</a>
                </div>
              </li>

              <li class="nav-item dropdown" ng-if="$root.isAdmin()">
                <a class="nav-link dropdown-toggle pointer" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Gestion administrative
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item pointer" href="#!/gestion/categories">Catégories</a>
                  <a class="dropdown-item pointer" href="#!/gestion/places">Localisations</a>
                  <a class="dropdown-item pointer" href="#!/gestion/items">Matériels</a>
                  <a class="dropdown-item pointer" href="#!/gestion/bookings">Réservations</a>
                  <a class="dropdown-item pointer" href="#!/gestion/bugs">Bugs</a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle pointer" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mon profil
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item pointer" data-dismiss="modal" data-toggle="modal" data-target="#bugModal">
                    <!-- <i class="fas fa-cogs left10" aria-hidden="true"></i> -->
                    Un bug?
                  </a>
                  <a class="dropdown-item pointer" href="#!/logout">
                    <!-- <i class="fas fa-sign-out-alt left10" aria-hidden="true"></i> -->
                    Se déconnecter
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
    </div>
    <div ng-if="loading" class="valign">
      <p><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></p>
    </div>
    <div id="page-wrapper" ng-transclude ng-if="!loading" style="margin-left: 15px; margin-right: 15px">
    </div>
    <div class="modal fade bd-example-modal-lg" id="bugModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Signaler un bug</h3>
          </div>
          <div class="modal-body" style="padding: 30px;">
            <div class="row">
              <p>
                Un bug est survenu pendant l'utilisation de l'application ? N'hésite pas à nous le renseigner,
                le SiMDE veillera au grain pour que cela ne se reproduise plus !
              </p>
            </div>
            <div class="row" style="margin-bottom: 10px">
              <label class="col-md-5">Sujet</label>
              <input type="text" ng-model="bug.title" class="form-control col-md-7">
            </div>
            <div class="row">
              <label class="col-md-5">Explication</label>
              <textarea rows="5" ng-model="bug.comment" class="form-control col-md-7"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-grey" data-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-grey" ng-click="sendBug()" data-dismiss="modal">Envoyer</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-wrapper -->
  
</div>
