<in-wrapper>
	<br><br>
	<div>
		<h3 class="title">Bienvenue à toi, {{prenom}} !</h3>
		<p class="title"><i>Tu trouveras sur cette page de quoi t'aider pour prendre l'applicaton en main.</i></p>
	</div>
	<div class="row">
		<div class="col-md-5 offset-md-1 col-sm-12">
			<div class="card card-no-border">
				<div class="card-header card-purple">
					<h5>Catégories</h5>
				</div>
				<div class="card-body">
					<ul>
						<li>Affichage des éléments selon leur catégorie</li>
						<li>Onglet "Toutes" affiche tous les éléments</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-5 col-sm-12">
			<div class="card card-no-border">
				<div class="card-header card-purple">
					<h5>Mon matériel</h5>
				</div>
				<div class="card-body">
					<ul>
						<li>Ajout de matériel pour une et une seule association</li>
						<li>Mise à jour du matériel</li>
						<li>Suppression du matériel</li>
						<li>Recherche du matériel</li>
						<li>Lien entre la catégorie entrée et l'onglet "Catégorie"</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-5 offset-md-1 col-sm-12">
			<div class="card card-no-border">
				<div class="card-header card-purple">
					<h5>Réservations \ Réserver</h5>
				</div>
				<div class="card-body">
					<p>Dans cet espace de réservation, vous faites partis de toutes les associations de la base comme dans "Mon matériel"</p>
					<ul>
						<li>Réservation pour une association à une association différente</li>
						<li>Date de la réservation cohérente</li>
						<li>Nécessité d'avoir rempli tous les chants pour valider</li>
						<li>Modification des dates pour un item</li>
						<li>Modification d'une des deux associations en cours de route</li>
						<li>Modification des quantités</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-5 col-sm-12">
			<div class="card card-no-border">
				<div class="card-header card-purple">
					<h5>Réservations \ Mes réservations</h5>
				</div>
				<div class="card-body">
					<p>Dans cet espace, vous faites partis de toutes les associations pour les tableaux récapitulatifs des réservations.
					<br>Cependant lors de l'affichage d'une réservation, vous êtes par défaut membre de l'association Intégration et administrateur
					<br>Administrateur => Possibilité de voir une réservation entre BDE et IF sans rien faire
					<br>Intégration => Variation de l'affichage si vous êtes l'association qui demande l'emprunt ou celle qui reçoit la deamnde</p>
					<ul>
						<li>Affichage correct des demandes de réservation selon les associations</li>
						<li>Dans une réservation en particulier
							<ul>
								<li>En tant que propriétaire du matériel, possibilité de valider ou de refuser des items, puis de déclarer le matériel rendu</li>
								<li>En tant que propriétaire du matériel, possibilité d'éditer un item (dans le but de réduire les dates d'emprunt ou les quantités par exemple)</li>
								<li>L'onglet mail n'est pas encore fonctionnel, oups !</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 offset-md-1 col-sm-12">
			<div class="card card-no-border">
				<div class="card-header card-purple">
					<h5>Gestion administratives</h5>
				</div>
				<div class="card-body">
					<ul>
						<li>Gestion des catégories</li>
						<li>Gestion des localisations</li>
						<li>Onglet Items pas fonctionnel encore</li>
						<li>Vue d'ensemble des réservations</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</in-wrapper>