<in-wrapper>
  <br><br>
  <div class = "row">
    <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1 margin20">
      <table class="table table-hover col-md-12">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-4 col-sm-12">
                <h3>Gestion des catégories</h3>
            </div>
            <div class="form-group col-md-5 offset-md-1 col-sm-8">
              <input ng-model="categorieSearch" type="text" class="form-control search-list" placeholder="Rechercher une catégorie...">
            </div>
            <div class="col-md-1 offset-md-1 col-sm-2 offset-sm-2">
              <h3 class="purple-text">
                <a ng-click="add()">
                  <i class="fas fa-plus"></i>
                </a>
              </h3>
            </div>
          </div>
        </div>
        <div class="row" ng-if="addConfirmation && !updateConfirmation && !deleteConfirmation">
          <div class="col-md-6 offset-md-3 alert alert-success" role="alert">
            La catégorie a bien été ajoutée.
          </div>
        </div>
        <div class="row" ng-if="updateConfirmation && !addConfirmation && !deleteConfirmation">
          <div class="col-md-6 offset-md-3 alert alert-info" role="alert">
            La catégorie a bien été mise à jour.
          </div>
        </div>
        <div class="row" ng-if="deleteConfirmation && !addConfirmation && !updateConfirmation">
          <div class="col-md-6 offset-md-3 alert alert-danger" role="alert">
            La catégorie a bien été supprimée.
          </div>
        </div>
        <thead>
          <tr>
              <th ng-click="sort()">
                Nom  
                <span class="sort-item" ng-class="{reverse: reverse}"><i class="fas fa-sort"></i></span>
              </th>
              <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-show="addNewCategorie">
            <td>
              <form novalidate name="formCateg">
                <input type="text" name="inputCateg" ng-model="newCategorie.name" class="form-control" focus-me="focusInput" required ng-class="{error : !formCateg.inputCateg.$valid && formCateg.inputCateg.$dirty}">
              </form>
            </td>
            <td>
              <p class="purple-text">
                <a ng-hide="formCateg.inputCateg.$valid">
                  <i class="fas fa-check i-right invalid" aria-hidden="true"></i>
                </a>
                <a ng-show="formCateg.inputCateg.$valid" ng-click="save()">
                  <i class="fas fa-check i-right" aria-hidden="true"></i>
                </a>
                <a ng-click="cancel()">
                  <i  class="fas fa-times i-left" aria-hidden="true"></i>
                </a>
              </p>
            </td>
          </tr>
          <tr ng-repeat="categorie in categories | toArray:false | filter:categorieSearch | orderBy:'name':reverse">
            <td>
              <span ng-show="!categorie.edit">{{ categorie.name }}</span>
              <input type="text" ng-model="categorie.name" ng-show="categorie.edit" class="form-control">
            </td>
            <td>
              <p ng-show="!categorie.edit" class="purple-text">
                <a ng-click="edit(categorie)">
                  <i class="fa fa-edit i-right" aria-hidden="true"></i>
                </a>
                <a data-toggle="modal" data-target=".bd-example-modal-lg" ng-click="setDeleteAttribute(categorie)" class="pointer">
                  <i class="fas fa-trash-alt i-left" aria-hidden="true"></i>
                </a>
              </p>
              <p ng-show="categorie.edit" class="purple-text">
                <a ng-click="update(categorie)">
                  <i class="fas fa-check i-right" aria-hidden="true"></i>
                </a>
                <a ng-click="cancel()">
                  <i class="fas fa-times i-left" aria-hidden="true"></i>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Confirmation</h3>
        </div>
        <div class="modal-body">
          <p>Voulez-vous vraiment supprimer cette catégorie?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-grey" data-dismiss="modal" ng-click="setDeleteAttribute(null)">Annuler</button>
          <button type="button" class="btn btn-grey" ng-click="delete()" data-dismiss="modal">Confirmation</button>
        </div>
      </div>
    </div>
  </div>
</in-wrapper>