<in-wrapper>
  <br><br>
  <div class = "row">
    <div class="col-md-6 offset-md-3">
      <table class="table table-hover col-md-12">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-5">
                <h3>Gestion des catégories</h3>
            </div>
            <div class="form-group col-md-4 offset-md-1">
              <input ng-model="categorieSearch" type="text" class="form-control search-list" placeholder="Rechercher une catégorie...">
            </div>
            <div class="col-md-1 offset-md-1">
              <h3 class="purple-text">
                <a ng-click="add()">
                  <i class="fas fa-plus"></i>
                </a>
              </h3>
            </div>
          </div>
        </div>
        <div class="row" ng-if="addConfirmation && !updateConfirmation && !deleteConfirmation">
          <div class="col-md-6 offset-md-3 alert alert-success" role="alert">
            La catégorie a bien été ajoutée.
          </div>
        </div>
        <div class="row" ng-if="updateConfirmation && !addConfirmation && !deleteConfirmation">
          <div class="col-md-6 offset-md-3 alert alert-info" role="alert">
            La catégorie a bien été mise à jour.
          </div>
        </div>
        <div class="row" ng-if="deleteConfirmation && !addConfirmation && !updateConfirmation">
          <div class="col-md-6 offset-md-3 alert alert-danger" role="alert">
            La catégorie a bien été supprimée.
          </div>
        </div>
        <thead>
          <tr>
              <th ng-click="sort()">
                Nom  
                <span class="sortorder" ng-class="{reverse: reverse}"></span>
              </th>
              <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-show="addNewCategorie">
            <td><input type="text" ng-model="newCategorie.name" class="form-control" focus-me="focusInput"></td>
            <td>
              <p class="purple-text">
                <a ng-click="save()">
                  <i class="fas fa-check i-right" aria-hidden="true"></i>
                </a>
                <a ng-click="cancel()">
                  <i  class="fas fa-times i-left" aria-hidden="true"></i>
                </a>
              </p>
            </td>
          </tr>
          <tr ng-repeat="categorie in categories | toArray:false | filter:categorieSearch | orderBy:propertyName:reverse">
            <td>
              <span ng-show="!categorie.edit">{{ categorie.name }}</span>
              <input type="text" ng-model="categorie.name" ng-show="categorie.edit" class="form-control">
            </td>
            <td>
              <p ng-show="!categorie.edit" class="purple-text">
                <a ng-click="edit(categorie)">
                  <i class="fa fa-edit i-right" aria-hidden="true"></i>
                </a>
                <a ng-click="delete(categorie)">
                  <i class="fas fa-trash-alt i-left" aria-hidden="true"></i>
                </a>
              </p>
              <p ng-show="categorie.edit" class="purple-text">
                <a ng-click="update(categorie)">
                  <i class="fas fa-check i-right" aria-hidden="true"></i>
                </a>
                <a ng-click="cancel()">
                  <i class="fas fa-times i-left" aria-hidden="true"></i>
                </a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</in-wrapper>